@import "./reset.css";
@import "../font/style.css";
@import "./variable.scss";
@import "./animations.scss";
@import "./modules/header.scss";
@import "./modules/popup.scss";
@import "./modules/card.scss";
@import "./modules/checkbox.scss";


body {
    background-color: $back-g-color;
}

h2,h3,h4,p,li,button,input,textarea,label{
    color: $text-color;
}
h2 {
    font: 2em 'Segoe UI Bold', sans-serif;
}
h3 {
    font: 1.3em 'Segoe UI Bold', sans-serif;
}
h4 {
    font: 1.1em 'Segoe UI Regular', sans-serif;
}
p,
li,
label,
input, input::placeholder,button {
    font: 1em 'Segoe UI Regular', sans-serif;
}
label {
    font: 0.8em;
}
li {
    white-space: nowrap;
    text-overflow: ellipsis;
}
button {
    @extend %shadows;
    padding: 8px 36px;
    border: none;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0);
}

//Main-styles[start]

main {
    height: 100vh;
    padding-top: 10vh;
    box-sizing: border-box;
    overflow-x: hidden;
}
.btn-primary {
    background: transparent linear-gradient(270deg, $p-color 0%, $p-dark-color 100%) 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: white;
}
.btn-icon {
    padding: 0;
    border-radius: 30px;
    box-sizing: border-box;
    i {
        // filter:drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
        margin: 0 auto;
        display: block;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.bg-icon{
    min-height: 60px;
    min-width: 60px;
    background: transparent linear-gradient(270deg, $p-color 0%, $p-dark-color 100%) 0% 0% no-repeat padding-box;
}
.sm-icon{
    min-height: 45px;
    min-width: 45px;
    background-color: $back-g-color;
}

.tickIcon{
    width: 31px;
    height: 27px;
    background-image: url("../Up.svg");
}
.delete{
    width: 15px;
    height: 15px;
    background-image: url("../delete.svg");
    
}

.text-center{
    text-align: center;
}
.jc-sp{
    display: flex;
    justify-content: space-between;
}

.marginCenter{
    margin: 0 auto;
    margin-bottom: 80px/1080px*100vh;
}
.content {
    margin: 0 auto;
    padding: 8vh 8%;
}
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
}
.col {
    width: calc(100% / 3);
    padding: 4vh 4.4%;
    box-sizing: border-box;
}
.col-z-2 {
    z-index: 2;
}
.sticky{
    position: sticky;
    top: 15vh;
    text-align: center;
}
.task-list {
    width: 100%;
    li {
        overflow: unset;
        white-space: unset;
        text-overflow: unset;
    }
}

.buttons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}
//Main-styles[end]

.date{
    @extend %shadows;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.9em;
    margin-bottom: 2vh;
    &__input{
        width: 2em;
        border: unset;
        background-color: transparent;
        text-align: center;
        &:nth-of-type(3){
            width: 3.5em;
        }
    }
}


.msg {
    @extend %staticShadows;
    transform: translate(1%, 100%);
    // margin-left: 1rem;
    padding: 2vh;
    position: absolute;
    border-radius: 10px;
    background-color: $warning-color;
    z-index: 1;
    p {
        font-size: 0.9em;
        color: white;
    }
    &:after {
        content: "";
        width: 0;
        height: 0;
        top: 0;
        margin-top: -0.6em;
        position: absolute;
        border-left: 0.6em solid transparent;
        border-right: 0.6em solid transparent;
        border-bottom: 0.6em solid $warning-color;
    }
}



// Scrollbar[start]
/* width */
::-webkit-scrollbar {
    width: 20px;
    border-radius: 50px;
}

/* Track */
::-webkit-scrollbar-track {
    @extend %insetStaticShadows;
    border-radius: 50px;
    background: $back-g-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: $p-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $p-dark-color;
}
// Scrollbar[end]
@import "./adaptive.scss";